<%-include('../header')-%>
<style>
    .box{
		height: 320px;
		
	}
</style>

	<div class="box">
		<h2>Forget Password</h2>
		<form action="/rest-password" method="post">
			<div class="inputBox">
				<input type="email" name="email" required="">
				<label>email</label>
			</div>
			<input type="submit" name="" value="send OTP">
		</form>
		

		
		<h4>Back to login? <a href="/login">click</a></h4>
	</div>
	<%-include('../footer')-%>